<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.HomeMapper">
    <insert id="insertVideo" parameterType="com.model.Video" useGeneratedKeys="true" keyProperty="no">
        insert into video
        (type, user_no, thumbnail, views, reg_datetime, update_datetime,
         likes, dislikes, title, description, time, video_file)
        values (#{type}, #{userNo}, #{thumbnail}, #{views}, now(), now(), #{likes},
                #{dislikes}, #{title}, #{description}, #{time}, #{videoFile})
    </insert>

    <select id="selectVideoList" resultType="com.model.Video">
        SELECT *, video_file AS videoFile
        FROM VIDEO

    </select>

    <select id="selectInfinityVideoList" resultType="com.model.Video">
        SELECT *, video_file AS videoFile
        FROM VIDEO where no > #{last_no} limit 5

    </select>

</mapper>