<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- console log -->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p][%d{yyyy-MM-dd HH:mm:ss}]%m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.controller.AdminController" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.springframework.core" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.springframework.beans" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.springframework.context" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.springframework.web" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="com.mapper" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.mybatis.spring.SqlSessionUtils" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.springframework.jdbc" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.mybatis.spring.transaction.SpringManagedTransaction" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.springframework.web.servlet.DispatcherServlet" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.springframework.web.servlet.view.InternalResourceView" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="com.interceptor.BaseInterceptor" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.springframework.web.servlet.view.JstlView" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="com.filter.GeneralFilter" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="com.filter.GeneralFilter" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</log4j:configuration>